export EXPANDED_CODE_SIGN_IDENTITY=""
export EXPANDED_CODE_SIGN_IDENTITY_NAME=""
export EXPANDED_PROVISIONING_PROFILE=""

export DEFAULT_XCODEPROJ="AlamofireSync.xcodeproj"
export DEFAULT_PODSPEC="AlamofireSync.podspec"

export SCHEME_IOS="AlamofireSync-iOS"
export SCHEME_MACOS="AlamofireSync-macOS"
export SCHEME_TVOS="AlamofireSync-tvOS"

export SCHEME_IOS_TEST="AlamofireSync-iOSTests"
export SCHEME_MACOS_TEST="AlamofireSync-macOSTests"
export SCHEME_TVOS_TEST="AlamofireSync-tvOSTests"

export FRAMEWORK_INFO_PLIST="Source/Info.plist"
export TEST_INFO_PLIST="Tests/Info.plist"

